.amazing-dev{
    background-image: url('../images/backgroundImage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 600px;
    .overlay{
        background-color: rgba(0, 0, 0, 0.45);
        width: 100%;
        height: 100%;
    }
    .amazing-dev-header{
        margin-left: 5%;
        padding-top: 10%;
        width: 30%;
        height: 119px;
        color: white;
        
    }
    .amazing-dev-text{
        color: white;
        margin-left: 5%;
        width: 35%;
    }
    .amazing-dev-button{
        margin-left: 5%;
        margin-top: 20px;
        div{
            display: inline;
            margin-right: 15px;
        }
    }
}