.footer{
    color: #7A7E84;
    
    padding-bottom: 2%;
    font-size: 14px;
    ul{
        padding: 0;
    }
    li{
        list-style-type: none;
    }
    p{
        margin-left: 5%;
    }
    .innerDiv{
        position: relative;
        right: 40%;
    }
    span{
        color: #ED6FAB;
    }
    img{
        padding-right: 10%;
    }
    .footer-icon-section{
        margin-left: 5%;
        span{
            color: #7A7E84;
            position: relative;
            bottom: 12px;
        }
        .footer-icons{
            padding-left: 40%;
            margin-bottom: 5px;
        }
    }
    .footer-grid{
        margin-left: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        h4{
            text-align: left;
        }
    }
    .about{
       .about-grid{
           display: grid;
           grid-template-columns: auto auto;
       }
    }
    .support{
        .support-grid{
            display: grid;
            grid-template-columns: auto auto;
        }
     }
     .community{
        .community-grid{
            display: grid;
            grid-template-columns: auto auto;
        }
     }
}